# ==========================================
# NEXORA BOT
# ==========================================

# Discord
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=

# MongoDB
MONGODB_URI=

# Environment
NODE_ENV=development